<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeLeaf.org">
	
	<head>
		<title>Kitablar</title>
		
		<style>
			
			table,th,td{border: 1px solid black;}
				
				table{border-collapse: collapse ; width: 100%;}
				
				th{padding: 5px;background-color:tan ;}
				
				td{padding: 5px;background-color:antiquewhite ;}

                td:hover{ font-weight:bold; color:  sienna;cursor: pointer ;}
		</style>
		
	</head>
	
	<body>
		
		<table>
			
			<thead>  <tr>  <th>ID</th> <th>Ad</th>  </tr>  </thead>
			
			<tbody>
				
				<tr th:each="book : ${books}">
					
					<td th:text="${book.id}"></td>
					
				    <td th:text="${book.name}"></td>

				</tr>
				
			</tbody>
			
		</table>
		
	</body>
	
</html>