<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Yeni kitab</title>
	</head>
	<body>
		<h1>Yeni Kitab</h1>
		
		<form th:action="@{/books/new-book-process}" method="POST" th:object="${book}">
		
		
		<label for="book-name">Ad: </label>	
		<input id="book-name" th:field="*{name}"/>
		
			
		<label for="book-description">Təsvir: </label>	
		<textarea id="book-description" th:field="*{description}"></textarea>
		
		<label for="book-price">Qiymət: </label>	
		<input type="number" th:field="*{price}"/>
		
		<label for="book-author">Müəllif: </label>	
		<input id="book-author" th:field="*{author}"/>

        <label for="book-page-count">Səhifə sayı: </label>	
		<input type="book-page-count" th:field="*{pageCount}"/>
		
		<label for="book-image">Şəkil: </label>	
		<input type="book-image" th:field="*{image}"/>

		<input type="submit" value="Qeydiyyat" />
		</form>
		
	</body>
	
</html> 